# default
* text=auto eol=lf

*.md diff=markdown eol=crlf

*.sh text diff=sh
*.ps1 text diff=ps1

*.csv text diff=csv
*.txt text diff=text

# Appendicies for the repository, with lfs
# normal zip files
*.zip filter=lfs diff=lfs merge=lfs -text

# Tar.gz files
*.gz filter=lfs diff=lfs merge=lfs -text


# Rest
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
