# default
* text=auto

*.md diff=markdown

*.sh diff=bash
*.sh text eol=lf


# Appendicies for the repository, with lfs
# normal zip files
*.zip filter=lfs diff=lfs merge=lfs -text

# Tar.gz files
*.gz filter=lfs diff=lfs merge=lfs -text


# Rest
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore